---
import Separator from '../../Separator.astro';

type Project = {
  name: string
  description: string
  stack: string
  challenge: string
}

type WorkExperience = {
    at: string
    role: string
    summary: string
    projects?: Project[]
};

interface Props {
  title: string;
  experiences: WorkExperience[]
}

const { title, experiences } = Astro.props;
const isEnglish = !Astro.originPathname.includes("/es");
---

<section class="resume-container experience-info-section">
  <h2 class="experience-info-title">{title}</h2>
  {!!experiences.length && <div>
    {experiences.map((exp) => (
        <h3>{exp.at}</h3>
        <h4>{exp.role}</h4>
        <p style="margin: 1rem 0;">{exp.summary}</p>
        <div style="display: flex;flex-direction:column;gap:1rem;">
                {exp.projects!.map((project) => (<div style="padding: 0 1rem 0 1rem;">
                    <p><h4>{project.name}:</h4>{' '}{project.description}</p>
                    <ul style="padding:0 1rem;">
                      <li><strong>Stack:</strong>{project.stack}</li>
                      <li><strong>{isEnglish ? 'A challenge' : 'Un desafio'}:</strong>{project.challenge}</li>
                    </ul>
                    {/* {i !== exp.projects!.length - 1 ? <Separator style='margin:1rem 0;' /> : false} */}
                    </div>
                    ))}
        </div>
    ))}
  </div>}
</section>
