---
import Separator from "../Separator.astro"

type Project = {
  name: string
  description: string
  stack: string
  challenge: string
}

type WorkExperience = {
    at: string
    role: string
    summary: string
    projects?: Project[]
};

interface Props {
  title: string;
  experiences: WorkExperience[]
}

const { title, experiences } = Astro.props;
const isEnglish = !Astro.originPathname.includes("/es");
---

<section class="resume-container experience-info-section">
  <h2 class="experience-info-title">{title}</h2>
  <Separator />
  {!!experiences.length && <div>
    {experiences.map((exp) => (
        <h1 class="padding-be">{exp.at}</h1>
        <h4>{exp.role}</h4>
        <p class="project-summary">{exp.summary}</p>
        <h2 class="padding-be">{isEnglish ? 'Projects' : 'Proyectos'}</h2>
        <div class="project-container">
                {exp.projects!.map((project) => (<article class="project-art">
                    <h4>- {project.name}:</h4>
                    <p class="project-description">{project.description}</p>
                    <ul class="project-info">
                      <li><p><strong>Stack:</strong>{project.stack}</p></li>
                      <li><p><strong>{isEnglish ? 'A challenge' : 'Un desafio'}:</strong>{project.challenge}</p></li>
                    </ul>
                    </article>
                    ))}
        </div>
    ))}
  </div>}
</section>
