---
import Separator from "../Separator.astro"

type Project = {
  name: string
  description: string
  stack: string
  challenge: string
}

type WorkExperience = {
    at: string
    role: string
    summary: string
    projects?: Project[]
};

interface Props {
  title: string;
  experiences: WorkExperience[]
}

const { title, experiences } = Astro.props;
const isEnglish = !Astro.originPathname.includes("/es");
---

<section class="resume-container experience-info-section">
  <h2 class="experience-info-title">{title}</h2>
  <Separator />
  {!!experiences.length && <div>
    {experiences.map((exp) => (
        <h1 style="padding-block-end: 1rem;">{exp.at}</h1>
        <h4>{exp.role}</h4>
        <p style="margin: 1rem 0;">{exp.summary}</p>
        <h2 style="padding-block-end: 1rem;">{isEnglish ? 'Projects' : 'Proyectos'}</h2>
        <div style="display: flex;flex-direction:column;gap:1rem;">
                {exp.projects!.map((project) => (<article style="padding: 0 1rem 0 1rem;">
                    <h4>- {project.name}:</h4>
                    <p style="padding:0 1rem;">{project.description}</p>
                    <ul style="padding:0 2.5rem;">
                      <li><p><strong>Stack:</strong>{project.stack}</p></li>
                      <li><p><strong>{isEnglish ? 'A challenge' : 'Un desafio'}:</strong>{project.challenge}</p></li>
                    </ul>
                    </article>
                    ))}
        </div>
    ))}
  </div>}
</section>
