---
type Link = {
  href: string;
  label?: string;
  url?: string;
} & ({ label: string } | { url: string });

const links: Link[] = [
  { href: "/work", label: "Work" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];
const pushedLinks: Link[] = [
  { href: "/", url: "../../public/github.svg" },
  { href: "/", url: "../../public/linkedin.svg" },
];
---

<nav style="padding:2rem;">
  <ul style="width:100%;display:flex;gap: 0 2rem;">
    {
      links.map(({ href, label, url }) => (
        <li>
          <a href={href} style="font-weight:bolder;">
            {label && <p>{label}</p>}
            {url && <img src={url} alt="Logo" width="40" height="40" />}
          </a>
        </li>
      ))
    }
    <div style="display:flex;gap:0 2rem;margin-left: auto;">
      {
        pushedLinks.map(({ href, label, url }) => (
          <li>
            <a href={href} style="font-weight:bolder;">
              {label && <p>{label}</p>}
              {url && <img src={url} alt="Logo" width="40" height="40" />}
            </a>
          </li>
        ))
      }
    </div>
  </ul>
</nav>
